.input {
    padding: 10px;
    border: 1px #D0D0D0 solid;
    border-radius: 5px;
    outline: none;
}

.button {
    background-color: #FF5B5B;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
}